<!DOCTYPE html>

<html lang = "en">
    <head>
        <title>Hello!</title>
    </head>
    <body>
        <!--Hello, {{name}}!-->

        <!--Your random number is {{ number}}.-->

        <!--{% if number == 1%}-->
        <!--    Your coin flip is HEADS.-->
        <!--{% else %}-->
        <!--    Your coin flip is TAILS.-->
        <!--{% endif %}-->


        <form action = "/hello">
            <input name = "name" type = "text">
            <input type = "submit">
        </form>
    </body>
</html>